<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_aqpago">
        <observer name="aqpago_data_assign" instance="Aqbank\Aqpago\Observer\DataAssignObserver" />
    </event>
   <event name="sales_order_save_after">
        <observer name="aqbank_sales_order_save_after" instance="Aqbank\Aqpago\Observer\OrderSaveAfter" />
    </event>
</config>
