<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="aqpago" xsi:type="const">Aqbank\Aqpago\Model\Ui\ConfigProvider::CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="aqpago_config_provider" xsi:type="object">Aqbank\Aqpago\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Aqbank\Aqpago\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
	
	<!-- Remove InputName checkout -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="remove_checkout_billing_address_fields"
                type="Aqbank\Aqpago\Plugin\Checkout\BillingAddressLayoutProcessor" sortOrder="1"/>
    </type>
</config>
