<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<fieldset data-bind="attr: {class: 'fieldset payment items pix ' + getCode(), id: 'payment_pix_form_' + getCode()}">
	<fieldset class="fieldset aqpago-box-boleto aqpago-box-boleto-checkout">	
		
		<div class="aqbank_payment_title">
			<!-- ko i18n: 'Pague com PIX'--><!-- /ko -->
		</div>		
		<div class="aqbank_payment_title">
			<img class="aqbank-boleto-title" data-bind="attr: { src: getIconPix()}" />
		</div>
		
        <div class="actions-toolbar grand-total">
			<!-- ko i18n: 'Você vai pagar'--><!-- /ko -->
			
			
			<div class="aqbank-grandtotal-card aqbank-relative" >
				<span data-bind="text: getGrandTotalCheckout()"></span>
			</div>
			
		</div>
        <div class="actions-toolbar">
			<button data-role="review-save"
					type="submit"
					data-bind="
					attr: {title: $t('Place Order')},
					enable: (getCode() == isChecked()),
					click: placeOrder,
					css: {disabled: !isPlaceOrderActionAllowed()}
					"
					class="action primary checkout aqbank_place_order_button"
					disabled>
				<img class="aqbank-icon-button aqbank-icon-button-pix" data-bind="attr: { src: getIconPixWhite()}"  />
				<span data-bind="i18n: 'Place Order'"></span>
			</button>
        </div>
		
    </fieldset>
</fieldset>