<div class="card-view-address" style="display: none !important;">
    <div class="resume-title" data-bind="i18n: 'SHIPPING ADDRESS'"></div>
    <div class="box">
        <div class="icon">
            <div class="round">
                <div data-bind="html: getIconAddressAqpago()"></div>
            </div>
        </div>
        <div class="box-body">
            <div class="address-cep" data-bind="html: getAqpagoPostcode()"></div>
            
            <div class="address-line-one">
                <span class="address-street" data-bind="html: getAqpagoStreet()"></span>
                <span class="address-number" data-bind="html: getAqpagoStreetNumber()"></span>
                <span class="address-complement" data-bind="html: getAqpagoStreetComplement()"></span>
            </div>
        </div>
        <div class="address-link" data-bind="click: openAddressEdit()">EDITAR</div>
    </div>
</div>