<div class="card-view-address">
	<div class="resume-title" data-bind="i18n: 'ENDEREÇO DE ENVIO'"></div>
	<div class="box">
		<div class="icon">
			<div class="round">
				<img data-bind="attr: { src: getIconAddressAqpago()}">
			</div>
		</div>
		<div class="box-body">
			<div class="address-cep" data-bind="html: getAqpagoPostcode()"></div>
			
			<div class="address-line-one">
				<span class="address-street" data-bind="html: getAqpagoStreet()"></span>
				<span class="address-number" data-bind="html: getAqpagoStreetNumber()"></span>
				<span class="address-complement" data-bind="html: getAqpagoStreetComplement()"></span>
			</div>
			<!--
			<div class="address-line-two">
				Previsão de entrega, <strong>10 de outubro</strong>
			</div>
			-->
		</div>
		<div class="address-link" data-bind="click: openAddressEdit()">EDITAR</div>
	</div>
</div>
	