<div class="grandtotal-resume">
    <div class="resume-title">
        <!-- ko i18n: 'BILLING DETAILS'--><!-- /ko -->
    </div>
    
    <div id="grand_total_aqpago" class="grandtotal-box">
        <div class="grandtotal-li">
            <div class="grandtotal-text">
                <!-- ko i18n: 'PURCHASE VALUE'--><!-- /ko -->
            </div>
            <div class="grandtotal-amount">R$950,00</div>
        </div>
        <div class="grandtotal-li">
            <div class="grandtotal-text">
                <!-- ko i18n: 'SHIPPING'--><!-- /ko -->
            </div>
            <div class="grandtotal-amount grandtotal-amount-shipping">R$50,00</div>
        </div>
        <div class="grandtotal-li grandtotal-li-total">
            <div class="grandtotal-text">
                <!-- ko i18n: 'TOTAL'--><!-- /ko -->
            </div>
            <div class="grandtotal-amount grandtotal-amount-total">R$1.000,00</div>
        </div>
    </div>
</div>